<div class="container">
  <section class="form">
    <h3>基本資料</h3>
    <div class="form-item">
      <label>姓名</label>
      <input type="text" formControlName="name" />
      <span class="error-message">請輸入姓名</span>
    </div>
    <div class="form-item">
      <label>地址</label>
      <input type="text" formControlName="address" />
      <span class="error-message">請輸入地址</span>
    </div>
    <div class="form-item">
      <label>電話</label>
      <input type="text" formControlName="telephone" />
      <span class="error-message">請輸入電話</span>
    </div>
  </section>
  <section class="detail">
    <h3>購買項目</h3>
    <div class="item" formArrayName="details">
      <ng-container>
        <div class="id"></div>
        <div class="name"></div>
        <div class="count">
          <input type="number" formControlName="count" />
        </div>
        <div class="price"></div>
        <div class="delete">
          <button type="button">刪除</button>
        </div>
      </ng-container>
    </div>
  </section>
</div>
<div class="tool-bar">
  <button type="button">送出訂單 ()</button>
</div>
